#app {
	background-color: rgb(166, 211, 166);
	font-family: 'Luckiest Guy', cursive;
}
#start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

#start img {
	width: 30%;
}

#start button {
	margin: 0 auto;
	width: 100%;
}

#username-form {
	margin: 0 auto;
	/* text-align: center; */
}

.hide {
	display: none !important;
}

#game-wrapper {
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
}

#game-board {
	background-color: bisque;
	width: 100%;
	height: 90vh;
}

#game-board img {
	display: none;
	width: 150px;
}

#score {
	display: flex;
	justify-content: space-between;
	background-color: cornsilk;
	font-size: 0.9rem;
	padding: 1rem;
	text-align: center;
	width: 100%;
	height: 10vh;
}

#score-right {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 50%;
	text-align: left;
}

#score-items {
	display: flex;
	flex-direction: column;
}

#score h2 {
	font-size: 1.75rem;
}

#score h5 {
	text-decoration: underline;
	font-size: 1rem;
	margin-bottom: 0;
}

#score ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

#winner-wrapper {
	background-color:rgb(166, 211, 166);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	height: 50%;
	position: absolute;
	left: 50%;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

#winner-wrapper button {
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 768px) {


	#game-board {
		width: 100%;
		height: 100vh;
	}

	#game-board img {
		width: 70px;
	}

	#score {
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	#score-right {
		justify-content: space-around;
		width: 100%;
	}

}

